<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SY</title>
  </head>

  <style>
    div.header {
      border-bottom: 1px solid black;
    }

  </style>

  <body>
    <div class="header">
      <h1>Sharif Younes</h1>
      <p>sharif.m.younes@gmail.com</p>
    </div>


    <h2>Professional</h2>
    <ul>
      <li><a href="{{ url_for('static', filename='pdf/sy-resume.pdf') }}">Resume</a></li>
      <li><a href="{{ url_for('static', filename='pdf/sy-cv.pdf') }}">CV (long resume)</a></li>      
      <li><a href="https://github.com/sharifyounes">Github</a></li>
      <li><a href="https://www.linkedin.com/in/sharifyounes">LinkedIn</a></li>

    </ul>

    <h2>Math research</h2>
    <ul>
      <li><a href="{{ url_for('static', filename='pdf/undergrad-thesis.pdf') }}">Undergraduate Thesis</a></li>
      <li><a href="{{ url_for('static', filename='pdf/tree-based-language-complexity.pdf') }}">Tree-Based Language Complexity of Thompson's Group <i>F</i></a> (joint with Jennifer Taback), <i>Groups, Complexity, Cryoptology</i> 7 no. 2, (2015), 135-152 [<a href="http://arxiv.org/pdf/1501.04315v2.pdf">ArXiv</a>]</li>
    </ul>

    <!--
    <h2>Websites</h2>
    <ul>
      <li><a href="http://onetrackdiet.com">Diet Tracking</a></li>
    </ul>
    -->

    <h2>Unprofessional</h2>

    <ul>
      <li><a href="https://www.youtube.com/watch?v=yUfbC_Knnms">1<sup>st</sup> powerlifting meet</a></li>
      <li><a href="https://www.youtube.com/watch?v=KFDO92rbbEc">2<sup>nd</sup> powerlifting meet</a></li>
      <li><a href="https://www.youtube.com/watch?v=Kw5E51ztQPw">3<sup>rd</sup> powerlifting meet</a></li>  
    </ul>

  </body>
</html>
